{{> header}}

<div class="container" id="main-content">
    <h3 class="header center">{{title}}</h3>
    <div class="row center">
        <form action="/login" method="post">
            <div class="col s12 m4 l3"></div>
            <div class="card col s12 m4 l6">
                <div class="card-content">
                    <p class="card-title">Email address</p>
                    <input name="username" type="email" >
                    <p class="card-title">Password</p>
                    <input name="password" type="password" >
                </div>
                <div class="card-action">
                    <a class="btn waves-effect waves-light" href="/signup"><i class="material-icons left">person_add</i>Sign up</a>
                    <button type="submit" class="btn waves-effect waves-light"><i class="material-icons right">person</i>Login</button>
                </div>
            </div>
            <div class="col s12 m4 l3"></div>
        </form>
    </div>
</div>

{{> footer}}